*{
	box-sizing: border-box;
}

body{
	padding:0;
	margin:0;
	background:darkslateblue;
	/**/
	
	font-family:'Arial', sans-serif;
}

h1, .custom-button, #input{
	text-align:center;
}

#result, #instructions, #button-container, #input, #link{
	width:80%;
	margin:.5rem auto;
	border:1px solid gray;
	padding:1rem;
}

#instructions{
	background:honeydew;
}

#result{
	background:whitesmoke;
}

#input{
	display:block;
}

.wrapper{
	padding:.8rem;
	width:90%;
	margin:1rem auto;
	background:lavender;
	background:-webkit-linear-gradient(lavender, azure);
	background:-moz-linear-gradient(lavender, azure);
	background:linear-gradient(lavender, azure);
}

.custom-button{
	color:white;
	display:inline-block;
	padding:.3rem;
	border:2px ridge lightgray;
	margin:.2rem;
	border-radius:4px;
	cursor:pointer;
}

#action{
	background: cadetblue;
}

#action:hover{
	background: green;
}

#predefined{
	background: indianred;
}

#predefined:hover{
	background: crimson;
}

#substrings{
	background: darkblue;
}

#substrings:hover{
	background: deepskyblue;
}

@media (min-width:768px) and (max-width:1023px){
	body{
		font-size:.9rem;
	}
}

@media (max-width:767px){
	body{
		font-size:.85rem;
	}
}