/* custom styles for the proposed solution */

.container-fluid{
	margin:0 1em;
}

#unique-section{
	background:aliceblue;
}

#button-list{
	background:lightgray;
}

#button-list  > li{
	margin:2px;
	border:2px solid black;
}